.password-container{
    background-color: black;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    color: white;
}

.password__value{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password__value-copy{
    width: 70px;
    height: 25px;
    color: white;
    background-color: rgba(35, 230, 230, 0.703);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password__length{
    display: flex;
    justify-content: space-between;
}

.password__range{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.password__constranits{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.password__strength{
    display: flex;    
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.password__button{ 
    width: 100%;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(35, 230, 230, 0.703);
    border: none;
    border-radius: 5px;
}